* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
body {
  background: linear-gradient(#fff9eb, #f7d57e);
  height: 100vh;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 30vw;
  z-index: -1;
}
.logo {
  height: 8rem;
  display: inline-block;
}
.brand-name {
  display: inline-block;
  font-size: 3rem;
  color: rgb(19, 146, 146);
}
.fa-gear {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 4rem;
  color: rgb(19, 146, 146);
  /* z-index: -1; */
}
.main-div {
  background: white;
  box-shadow: 0rem 3rem 6rem 1rem black;
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
  margin-top: 10rem;
}
.main-div-2 {
  overflow: scroll;
  height: 90vh;
}
.headings {
  padding: 2rem;
  display: flex;
  /* width: 100px; */
  /* flex-direction: column; */
  justify-content: space-around;
  font-size: 2rem;
  font-weight: bold;
}
.headings hr {
  margin-top: 1rem;
  width: 100%;
  border: solid transparent;
  height: 1rem;
  background-color: rgb(149, 149, 43);
  border-radius: 1rem;
}
.personalize {
  display: flex;
  align-items: center;
  justify-content: center;
}
.personalize h1 {
  text-align: center;
  font-size: 2rem;
  width: 80vw;
  color: white;
  background: rgb(19, 146, 146);
  padding: 1rem;
  /* border-radius: 2rem; */
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: inline-block;
  /* display:none; */
}
.favorites {
  display: flex;
  margin: 4rem 2rem;
  justify-content: space-between;
}
.favorites img {
  width: 30%;
}
.unlock-all {
  margin: 0 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
}
.most-popular {
  margin: 0 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}
.most-popular-content {
  overflow-y: scroll;

  scrollbar-color: green;
  display: flex;
  margin: 2rem;
}
.most-popular-content::-webkit-scrollbar {
  display: none;
}
.most-popular-content img {
  margin: 0 1rem;
}
.main-div {
  position: relative;
  width: 100vw;
}
/* .main-div-2{
  position:absolute;
} */
.footer {
  width: 100vw;
  /* opacity: 0.3; */
  padding: 2rem 6rem;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* box-shadow: 0rem -5rem 10rem 1rem black; */
}
.footer i {
  font-size: 5rem;
  z-index: 1;
  color: #29afc2;
}
.footer-shape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 15vh;
}
.footer-shape img {
  height: 1rem;

  /* width: 1vw; */
}
